#opening{
    font-size: 25pt;
font-family: verdana;
    }
.header {
  padding: 1px; /* some padding */
  text-align: center; /* center the text */
   background: #808080;/* green background */
  color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}
body{
    background-color: #181818;
    
    
    
}
.lol{text-decoration: none;
   text-align: center;
    display: inline-block;
    color: #181818;
    font-family: verdana;
    margin-left: 16%;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
 background-color: black;
  color: white;
  border: 2px solid #FFFFFF;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
transition-duration: 0.4s;
font-size: 12px;
}
.lol:hover{background-color: white; /* Green */
 color: black;}
#mi{text-decoration: none;
    color: aliceblue;
    font-family: verdana;
    font-style: oblique;
    font-size: 24px;
    margin-left: 20px;
    padding-right: 16px;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #FFFFFF;
    padding-bottom:16px;
    padding-left: 16px;
    padding-top: 16px;
}
#veriq{
    margin-top: 50px;
    padding-top: 50px;
    
}
#mi:hover{background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #008CBA;
color: black}
#veriq:hover{ 
border: 2px solid #FFFF;
padding: 0px 0px 0px 0px}
#Lriq{
    margin-top: 50px;
    padding-top: 50px;
    
}
#Lriq:hover{ 
border: 2px solid #FFFF;
padding: 0px 0px 0px 0px;
max-width: none;}
#hi{text-decoration: none;
    color: aliceblue;
    font-family: verdana;
    font-style: oblique;
    font-size: 24px;
    margin-left: 20px;
    padding-right: 16px;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #FFFFFF;
    padding-bottom:16px;
    padding-left: 16px;
    padding-top: 16px;
    
}
#hi:hover{background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #008CBA;
color: black}
.yt{
text-decoration: none;
    color: aliceblue;
    font-family: verdana;
    font-style: oblique;
    font-size: 24px;
    margin-left: 20px;
    padding-right: 16px;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #FFFFFF;
    padding-bottom:16px;
    padding-left: 16px;
    padding-top: 16px;
}
.yt:hover{background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #008CBA;
color: black}
#br{
    margin-top: 50px;
    padding-top: 50px;
    
}
#br:hover{ 
border: 2px solid #FFFF;
padding: 0px 0px 0px 0px}
#ko{
    padding: 3% 3% 3% 3%;
    width: 100px;
    margin-top: 3%;
     border: 2px solid #FFFF;
    
}
.F{float: right;
margin-right: 30%;
margin-top: 5%;}
#L{
    font-family: verdana;
    font-size: 42px;
    padding: 0px;
    color: purple;
   ;
}
#F{
    text-decoration: none;
    font-family: verdana;
    font-size: 42px;
    border: 2px solid #FFFF;
    padding: 8px 8px 8px 8px;
    float: right;
    margin-top: 0px;
    margin-left: 30%;
    color: aliceblue
}
#F:hover{
    color: purple;
    background-color: white;
    border: 2px solid #800080;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    margin-top: 5px
}
#il{border: 2px solid #696969;
padding-top: 3px;
border-top-width: medium;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 7%;
    margin-top: 40px;
}
#m {font-family: verdana;
    font-size: 42px;
    padding: 0px;
    color: lightblue;
}
#n{
    text-decoration: none;
    font-family: verdana;
    font-size: 42px;
    border: 2px solid #FFFF;
    padding: 8px 8px 8px 8px;
    float: right;
    margin-top: 0px;
    margin-left: 30%;
    color: aliceblue
}
#n:hover{
    color: lightblue;
    background-color: white;
    border: 2px solid #ADD8E6;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    margin-top: 5px
}
#h{font-family: verdana;
    font-size: 42px;
    padding: 0px;
    color: blue;}
#i{
    text-decoration: none;
    font-family: verdana;
    font-size: 42px;
    border: 2px solid #FFFF;
    padding: 8px 8px 8px 8px;
    float: right;
    margin-top: 0px;
    margin-left: 30%;
    color: white
}
#i:hover{
    color: blue;
    background-color: white;
    border: 2px solid #008CBA;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    margin-top: 5px
}
#ko:hover{
    width: 200px;
    backface-visibility: hidden;
    border-style: dotted;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}
#j{font-family: verdana;
    font-size: 42px;
    padding: 0px;
    color: aliceblue;}
#g{
    text-decoration: none;
    font-family: verdana;
    font-size: 42px;
    border: 2px solid #FFFF;
    padding: 8px 8px 8px 8px;
    float: right;
    margin-top: 0px;
    margin-left: 30%;
    color: white
}
#g:hover{
    color: black;
    background-color: white;
    border: 2px solid #181818;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    margin-top: 5px
}

